<!DOCTYPE html>
<html lang="es">
<head>
  <title>MCPR2024</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="description" content="The 15th Mexican Conference on Pattern Recognition (MCPR2024) will be held in Tepic, Nayarit, México from June 21 to June 24, 2024, under direction of the Unidad de Transferencia Tecnológica Tepic of Centro de Investigación Científica y de Educación Superior de Ensenada, Baja California (CICESE-UT3), jointly with Coordinación de Ciencias Computacionales of Instituto Nacional de Astrófísica Óptica y Electrónica (INAOE), and with the consent of the International Association of Pattern Recognition (IAPR) and the Mexican Association for Computer Vision, Neurocomputing and Robotics (MACVNR), which is affiliated to the IAPR. MCPR2024 attempts to provide a forum for the exchange of scientific results, experiences, and new knowledge, as well as, promoting co-operation among research groups in Pattern Recognition and related areas in Mexico and around the world.">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="../src/css/style.css">
  <link rel="stylesheet" href="../src/css/about.css">
  <link rel="stylesheet" href="../src/css/conferences.css">
  <link rel="stylesheet" href="../src/css/description.css">
  <link rel="stylesheet" href="../src/css/footer.css">
  <link rel="stylesheet" href="../src/css/members.css">
  <link rel="stylesheet" href="../src/css/nav-bar.css">
  <link rel="stylesheet" href="../src/css/presentation.css">
  <link rel="stylesheet" href="../src/css/programs.css">
  <link rel="stylesheet" href="../src/css/registers.css">
  <link rel="stylesheet" href="../src/css/tutorials.css">
  <link rel="stylesheet" href="../src/css/workshops.css">
  <link rel="stylesheet" href="../src/css/judges.css">
  <link rel="stylesheet" href="../src/css/remarks.css">
  <link rel="stylesheet" href="../src/css/modal.css">
  <link rel="stylesheet" href="../src/css/allies.css">
  <link rel="stylesheet" href="../src/css/panel.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="./style.css" />
</head>
<body>
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand fw-bold fs-3" style="color: #d61f69" href="#"
        >MCPR-2024</a
      >

      <div
        class="collapse navbar-collapse d-flex justify-content-end"
        id="navbarSupportedContent"
        style="width: fit-content !important; display: grid !important"
      >
        <ul
          style="width: fit-content !important; margin-left: auto !important"
          class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center w-100 gap-4 fw-bold"
        >
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Main
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="../index.html">Home</a></li>
              <li>
                <a class="dropdown-item" href="../pages/paper_awards.html"
                  >Paper awards</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../pages/call_for_papers.html"
                  >Call for Papers</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../pages/keynote_speakers.html"
                  >Keynote speakers</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../pages/students_meeting.html"
                  >Student´s Meeting</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../pages/info_tours.html"
                  >Info and Tours</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../pages/committee.html"
                  >Program Committee</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../pages/organization.html"
                  >Organization</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Contributions
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  href="./pages/submission_guidelines.html"
                  >Submission Guidelines</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Attendence
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="../pages/fees.html"
                  >Fees for authors</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Previous MCPRs</a
            >
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2023"
                  target="_blank"
                  >MCPR 2023</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2022"
                  target="_blank"
                  >MCPR 2022</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2021/"
                  target="_blank"
                  >MCPR 2021</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2020/"
                  target="_blank"
                  >MCPR 2020</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2019/"
                  target="_blank"
                  >MCPR 2019</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2018/"
                  target="_blank"
                  >MCPR 2018</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2017/"
                  target="_blank"
                  >MCPR 2017</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2016/"
                  target="_blank"
                  >MCPR 2016</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2015/"
                  target="_blank"
                  >MCPR 2015</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2014/"
                  target="_blank"
                  >MCPR 2014</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2013/"
                  target="_blank"
                  >MCPR 2013</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2012/"
                  target="_blank"
                  >MCPR 2012</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2011/"
                  target="_blank"
                  >MCPR 2011</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mcpr2010/"
                  target="_blank"
                  >MCPR 2010</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://ccc.inaoep.mx/~mwpr2009/"
                  target="_blank"
                  >MWPR 2009</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    
  <div class="panel-container" id="panel">
    
    <div>
    <h1 class="panel-title">STUDENT'S MEETING</h1>
      <p class="panel-subtitle" style="text-align: left;"><b>The MCPR Postgraduate Students' Meeting (MCPR2024-PSM) </b>has been designed for bringing together Master and PhD students in order to discuss their research with a panel of both students and senior researchers in the area of Pattern Recognition. <b>MCPR2024-PSM</b> will be held in Tepic, Nayarit, Mexico from <b>June, 21th-24th, 2024.</b></p>
      <p class="panel-subtitle" style="text-align: left;">The main objectives of this Meeting are:</p>
      <p class="panel-subtitle"><li class="panel-lista">Provide feedback on participants' research and advices for future directions</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Promote interaction with other researches</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Promote a spirit of collaborative research and participation in conference events</li></p>
      <p class="panel-subtitle fw-bold" style="font-size: 1.4rem; text-align: left;">Topics</p>		
      <p class="panel-subtitle"><li class="panel-lista">Bioinformatics</li></p>	
      <p class="panel-subtitle"><li class="panel-lista">Neural Networks</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Computer Vision</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Neural Networks and Associative Memories</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Data Mining</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Parallel and Distributed Pattern Recognition</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Document Processing and Recognition</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Robotics & Remote Sensing Applications of Pattern Recognition</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Discrete Geometry</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Fuzzy and Hybrid Techniques in Pattern Recognition</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Shape and Texture Analysis</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Image Coding, Processing and Analysis</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Signal Processing and Analysis</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Industrial and Medical Applications of Pattern Recognition</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Pattern Recognition Principles</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Special Hardware Architectures of Pattern Recognition</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Logical Combinatorial Pattern Recognition</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Statistical & Structural Pattern Recognition</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Mathematical Morphology</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Voice and Speech Recognition</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Natural Language Processing and Recognition</li></p>
      <p class="panel-subtitle fw-bold" style="font-size: 1.4rem; text-align: left;">Paper submission</p>
      <p class="panel-subtitle">All the 10 pages postgraduate students' meeting papers must include:</p>
      <p class="panel-subtitle"><li class="panel-lista">Research problem to solve</li></p>	
      <p class="panel-subtitle"><li class="panel-lista">Research Methodology</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Main contribution</li></p>
      <p class="panel-subtitle"><li class="panel-lista">Results achieved and their validity</li></p>
      <p class="panel-subtitle">Papers must be elaborated based on this <a href="http://www.cicling.org/format/" target="_blank">Formatting Instructions</a>. Papers must be sent (in PDF format) to: <a href= "mailto:mcpr2024psm@inaoep.mx"><b style="color: black;">mcpr2024psm@inaoep.mx</b></a>. Accepted papers are expected to be published in the Research in Computing Science (ISSN: 1870-4069) and will be presented at the conference as a poster.</p>
      <p class="panel-subtitle fw-bold" style="font-size: 1.4rem; text-align: left;">Review Process</p>
      <p class="panel-subtitle">All the papers (PDF) will be submitted in English. A designed Technical Committee will review all submissions rigorously (considering technical content, originality, and relevance).</p>
      <!--<p class="panel-subtitle"><li class="panel-lista">Deadline for submission:<font color=red> April 29, 2024</font></li></p>
      <p class="panel-subtitle"><li class="panel-lista">Deadline for submission:<font color=red> May 16, 2024</font></li></p>
      <p class="panel-subtitle"><li class="panel-lista">Notification of acceptance:<font color=red> June 3, 2024</font></li></p>
      <p class="panel-subtitle"><li class="panel-lista">Notification of acceptance:<font color=red> June 7, 2024</font></li></p>
      <p class="panel-subtitle"><li class="panel-lista">Camera ready:<font color=red> June 10, 2024</font></li></p>
      <p class="panel-subtitle"><li class="panel-lista">Camera ready:<font color=red> June 14, 2024</font></li></p>
      <p class="panel-subtitle"><li class="panel-lista">Postgraduate Students’ meeting: June 21th-24th, 2024</li></p>-->
     <!-- <div class="text-center">
        <p class="time-zone-p">Contact: <font color=red>mcpr2024psm@inaoep.mx</font></p>
      </div>-->

    </div>
  </div>

  <div class="workshops-container p-0" id="workshop">

    <div class="workshops-relevant-date" style="background-color: #f6f6f6">
      <h1 class="color-primary description-title">IMPORTANT DATES</h1>
      <p class="description-relevant-text m-0"><b>May 15, 2024</b>     -     Deadline for submission</p>
      <p class="description-relevant-text m-0"><b>June 9, 2024</b>    -      Notification of acceptance</p>
      <p class="description-relevant-text m-0"><b>June 15, 2024</b>     -       Camera-ready</p>
      <p class="description-relevant-text m-0"><b>June 21-24, 2024</b>      -      Postgraduate Students’ meeting</p>
      <div class="workshops-relevant-button">
        <a href="mailto:mcpr2024psm@inaoep.mx" class="button bk-primary" target="_blank">Contact</a>
      </div>
    </div>  
    </div>
  </div>
   
  <div id="members" class="members-parent-container">
      <div class="w-70 m-auto" >
          <div id="membersComponent">
              <h1 class="members-title">MCPR2024-PSM ORGANIZING COMMITTEE</h1>
              <div class="members-container">
                  <div v-for="member in members" class="members-item text-center" :data-id="member.id">
                      <img :src="member.img" alt="Imagén" class="members-item-img">
                      <h6 class="members-item-name">{{member.name}}</h6>
                      <p class="members-rol" v-if="member.rol">{{member.rol}}</p>
                  </div>
              </div>
          </div>
      </div>

  </div>
  
 

  <div class="ally-container-paginas" id="allies">
    <div>
      <div class="ally-container-items">
        <a href="https://www.inaoep.mx/" target="_blank" style="margin: 2% 2%"
          ><img
            src="../src/images/inaoe.jpeg"
            alt="Imágen INAOE"
            class="ally-item"
        /></a>
        <img
          src="../src/images/IAPR.jpeg"
          alt="Imágen IAPR"
          class="ally-item"
        />
        <img
          src="../src/images/LNCS.jpeg"
          alt="Imágen LNCS"
          class="ally-item"
        />
        <img
          src="../src/images/logo0.jpg"
          alt="Imágen LNCS"
          class="ally-item"
        />
      </div>
    </div>
  </div>
  
  <div class="bk-primary color-white pt-5 pb-2">
    <div class="footer">
      <div class="footer-left">
        <ul>
          <li><a class="footer-a" href="../index.html">Home</a></li>
          <li>
            <a class="footer-a" href="../pages/call_for_papers.html"
              >Call for papers</a
            >
          </li>
          <li>
            <a class="footer-a" href="../pages/paper_awards.html"
              >Paper Awards</a
            >
          </li>
          <li>
            <a class="footer-a" href="../pages/keynote_speakers.html"
              >Keynote Speakers</a
            >
          </li>
          <li>
            <a class="footer-a" href="../pages/students_meeting.html"
              >Student´s Meeting</a
            >
          </li>
          <li>
            <a class="footer-a" href="../pages/info_tours.html"
              >Info and Tours</a
            >
          </li>
          <li>
            <a class="footer-a" href="../pages/committee.html"
              >Program Committee</a
            >
          </li>
          <li>
            <a class="footer-a" href="../pages/organization.html"
              >Organization</a
            >
          </li>
          <li>
            <a class="footer-a" href="../pages/submission_guidelines.html"
              >Submission Guidelines</a
            >
          </li>
          <li>
            <a class="footer-a" href="../pages/fees.html">Fees for Authors</a>
          </li>
        </ul>
      </div>
      <div class="footer-contact">
        <ul>
          <li>
            <h4><b>Contact</b></h4>
          </li>
          <li><b>Dr. Efrén Mezura Montes</b></li>
          <li>Congress organizer</li>
          <li>
            <img
              src="../src/images/Material pagina web/Icono correo 2 1x.png"
              width="17"
              height="auto"
              alt="Imagen de correo"
              class="me-2"
            /><a href="mailto:emezura@uv.mx" class="footer-a footer-a-light"
              >emezura@uv.mx</a
            >
          </li>
          <li>
            <img
              src="../src/images/Material pagina web/Icono correo 2 1x.png"
              width="17"
              height="auto"
              alt="Imagen de correo"
              class="me-2"
            /><a
              href="mailto:mcpr2024@inaoep.mx"
              class="footer-a footer-a-light"
              >mcpr2024@inaoep.mx</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="color-white text-center">© MCPR2024</div>
  </div>

 
    <div class="modal fade" id="modalVitasLarge">
      <div class="modal-dialog modal-xl">
        <div class="modal-content vitas-modal">
          <div class="modal-header b-none">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-0">
            <div class="vitas-modal-container">
              <div class="vitas-modal-container-text">
                <h1 class="vitas-modal-name" id="modalVitasLargeName">Nombre</h1>
                <p class="vitas-modal-content" id="modalVitasLargeDescription">
                    Conductor del canal QuieroAprenderA.com en Facebook Live donde tiene mas de 450 horas de entrevistas en Turismo, Innovación, Negocios, Internacionalización, Vino, Educación y Emprendimiento enfocados a la reinvención de negocios en la era del COVID19.
                    Jorge es un emprendedor que ha puesto en marcha mas de 10 empresas de tecnología en México y Estados Unidos enfocadas a la solución innovadora de problemas como son: la distribución de agua en ciudades de México, el desarrollo de materiales y estrategias educacionales para el desarrollo profesional y las herramientas de marketing para emprendedores.
                    Profesor de la Maestría de Innovación y Nuevos Negocios en la Universidad Panamericana en Guadalajara, Jalisco. 
                    Promotor del cambio de mentalidad de los profesionales bajo el concepto “La mentalidad mínima para tener éxito innovando”, tema que ha impartido en un gran número de conferencias a empresas, profesionales y emprendedores para desarrolla su capacidad de innovar.
                    Los últimos 15 años de su vida ha residido en el Silicon Valley, sobre el cual publicó el libro “Think like Silicon Valley being anywhere” ( https://www.amazon.com/Think-Silicon-Valley-Jorge-Zavala/dp/1475088302 )
                    Fundador de la Red Global de Mexicanos en 2005, una organización descentralizada de la diáspora mexicana con mas de 65 capítulos alrededor del mundo.</p>
              </div>
              <div class="vitas-modal-container-img">
                <img src="" alt="Imagen de la persona" class="vitas-modal-img-conferences" id="modalVitasLargeImage">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="modal fade" id="modalVitasSmall">
          <div class="modal-dialog modal-lg">
              <div class="modal-content vitas-modal">
                  <div class="modal-header b-none">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body p-0">
                      <div class="vitas-modal-container">
                          <div class="vitas-modal-container-text">
                              <h1 class="vitas-modal-name" id="modalVitasSmallName">Nombre</h1>
                              <p class="vitas-modal-content" id="modalVitasSmallDescription">
                                  Conductor del canal QuieroAprenderA.com en Facebook Live donde tiene mas de 450 horas de entrevistas en Turismo, Innovación, Negocios, Internacionalización, Vino, Educación y Emprendimiento enfocados a la reinvención de negocios en la era del COVID19.
                                  Jorge es un emprendedor que ha puesto en marcha mas de 10 empresas de tecnología en México y Estados Unidos enfocadas a la solución innovadora de problemas como son: la distribución de agua en ciudades de México, el desarrollo de materiales y estrategias educacionales para el desarrollo profesional y las herramientas de marketing para emprendedores.</p>
                              <div class="vitas-model-from">
                                  <b><p class="vitas-model-from-p" id="modalVitasSmallPlace"></p></b>
                                  <img src="../src/images/Material pagina web/Icono linkedin 1x.png" alt="País" class="vitas-model-from-flag" id="modalVitasSmallFlag">
                                  <img src="../src/images/Material pagina web/Icono linkedin 1x.png" alt="País" class="vitas-model-from-flag" id="modalVitasSmallFlagSecondary">
                                  <a href="" id="modalVitasSmallLinkedIn" target="_blank">
                                      <img src="../src/images/Material pagina web/Icono linkedin 1x.png" alt="País" class="vitas-model-from-linkedin" >
                                  </a>
                              </div>
                          </div>
                          <div class="vitas-modal-container-img">
                              <img src="" alt="Imagen de la persona" class="vitas-modal-img-others" id="modalVitasSmallImage">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="modalTutorials">
          <div class="modal-dialog modal-xl">
              <div class="modal-content tutorials-modal">
                  <div class="modal-header b-none">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body p-0">
                      <div class="tutorials-modal-container">
                          <div id="modalTutorialsPeople">

                          </div>
                          <div>
                              <h1 class="tutorials-modal-name p-0 mb-4" id="modalTutorialsTitle">Nombre</h1>
                              <p class="tutorials-modal-subtitle">Descripción</p>
                              <p class="tutorials-modal-content" id="modalTutorialsObjective">El Doctor Norberto Flores es egresado de la ESIME Culhuacan y del
                                  Centro de Investigación en Computación del IPN, donde estudió Ingeniería en Computación y Maestría en Ingeniería de Cómputo respectivamente. Obtuvo su Doctorado en Computación y Matemáticas Industriales en
                                  el Instituto Mexicano del Petróleo. Trabajó en General Motors y en General
                                  Electric 5 años en Detroit, Albany, Silao y Celaya.Es autor de 12 artículos de
                                  Investigación, 2 patentes y una más en trámite, y ha presentado trabajos
                                  en 7 congresos internacionales.</p>
                              <div>
                                  <p class="tutorials-modal-subtitle">Temas</p>
                                  <ul id="modalTutorialsThemes" class="tutorials-modal-content"></ul>
                              </div>
                              <div>
                                  <p class="tutorials-modal-subtitle">Requerimientos</p>
                                  <p id="modalTutorialsRequirements" class="tutorials-modal-content">LabVIEW versión libre Community 2020 (Opcional).</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="modal fade" id="modalSendWork" tabindex="-1">
          <div class="modal-dialog modal-lg">
              <div class="modal-content vitas-modal">
                  <div class="modal-header b-none">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body p-0">
                      <div class="vitas-modal-container">
                          <div class="vitas-modal-container-text w-100 m-0">
                              <h1 class="vitas-modal-name" id="modalVitasSmallName">Envío del trabajo</h1>
                              <p>Los interesados deben enviar por correo electrónico a
                                  <a href="mailto://hperez@cicese.mx" class="color-dark-gray"><b>hperez@cicese.mx</b></a>, un documento resumiendo el proyecto escrito en español incluyendo la siguiente
                                  información (máximo 6 cuartillas incluyendo referencias, letra Arial tamaño 11, interlineado 1.15).</p>
                              <ul>
                                  <li>1. Motivación de la tesis</li>
                                  <li>2. Objetivos</li>
                                  <li>3. Áreas de aplicación</li>
                                  <li>4. Idea de negocio</li>
                                  <li>5. Productos o servicios similares</li>
                                  <li>6. Referencias bibliográficas</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <script src="../src/js/conferences.js"></script>
  <script src="../src/js/members.js"></script>
  <script src="../src/js/tutorials.js"></script>
  <script src="../src/js/workshops.js"></script>
  <script src="../src/js/judges.js"></script>
  <script src="../src/js/panel.js"></script>
  <script src="../src/js/modals.js"></script>
</body>
</html>